.homenavbar-div{
    display: flex;
}
.homenavbar-image-section{
    margin-top: 3rem;
    margin-left: 5rem;
    align-items: center;
    text-align: center;
}
.homenavbar-image{
    height: 15rem;
    width: 11.5rem;
    background-color: gray;
    margin-bottom: 1rem;
}
.homenavbar-section-2{
    margin-left: 6rem;
}
.homenavbar-section-head{
    /* font-weight: 500; */
    margin-top: 1rem;
}
.homenavbar-section-content{
    font-weight: 100;
    margin-top: 0.5rem;
}
.homenavbar-section-3{
    margin-left: 3rem;
}
.homenavbar-section-4{
    margin-left: 3rem;
}
.homenavbar-section-5{
    margin-left: 3rem;
}
.homenavbar-section-6{
    margin-left: 3rem;
}